/*Loader CSS*/
  body{
  margin: 0;
  padding: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  font-family: sans-serif;
  background: transparent;
}
  .teks-load{
    position: relative;
    font-size: 2em;
    background-color: #000000;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .1em;
    padding: 10px;
}
  .teks-load span{
    color: #fff;
    mix-blend-mode: difference;
  }
  .teks-load:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 85px;
    height: 100%;
    background-color: #fff;
    animation: geser 2s linear infinite;
  }

  @keyframes geser{
    0%{
      left: 0;
    }
    50% {
      left: calc(100% - 85px);
    }
    100%{
      left: 0;
    }
  }